name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directories: ['jenkins', 'php7.1-cli', 'php7.3-cli', 'php7.4-cli', 'php8.0-cli']
    steps:
      - uses: actions/checkout@v2
      - uses: docker/build-push-action@v1
        env:
          DOCKER_BUILDKIT: 1
        with:
          repository: runroom/${{ matrix.directories }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tag_with_ref: true
          tag_with_sha: true
          path: ${{ matrix.directories }}
          push: ${{ github.ref == 'refs/heads/master' }}
